.auth__main {
  @include flex-center(column);
  background-color: $primary;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  @include flex-center(column);
  background-color: white;
  box-shadow: 0px 3px $dark-grey;
  border-radius: 2px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.auth__box-container {
  > * + * {
    margin-top: 16px;
  }

  form {
    @include flex-center(column);
    width: 300px;
    button {
      margin: 16px;
      width: 100%;
      background-color: $blue;
      outline: none;
      border-radius: 3px;
      border: none;
      color: white;
      padding: 10px 15px;
      font-size: 1.1rem;
      transition: background-color 0.2s;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: darken($blue, 5%);
      }

      &:disabled {
        background-color: transparentize($color: $blue, $amount: 0.5);
        cursor: progress;
      }
    }
  }
}

.auth__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 40px 0;
  color: darken($primary, 10);
  user-select: none;
}

.auth__input-group {
  width: 100%;
  $border-radius: 3px;
  @include flex-center(column);

  > * + * {
    margin-top: 16px;
  }
}

.auth__input-item {
  width: 100%;
  font-weight: 300;
  font-size: 1.1rem;

  div {
    width: 100%;
    position: relative;
  }

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: opacity 0.3s;
    color: transparentize($dark-grey, 0.8);
  }

  input {
    padding: 15px 20px;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid transparent;
    background-color: lighten(gray, 40%);
    outline: none;
    transition: border-color 0.5s;

    &:focus {
      border-color: $primary;
    }

    &:focus + i {
      opacity: 0;
    }
  }

  .auth__isWrited + i {
    opacity: 0;
  }

  &:last-child {
    margin-bottom: 16px;
  }
}

.auth__sign {
  margin-top: 26px;
  color: gray;
  a {
    font-weight: 500;
    color: gray;
  }
}


