.card-edit {
  box-shadow: 0 0 20px 1px transparentize($color: #000000, $amount: 0.75);
  border-radius: 15px;
  padding: 1em;
  width: 500px;
  margin: 1em 0.5em;

  form > * + * {
    margin: 1.5em 0;
  }
}

.card-edit__item {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    margin-top: 5px;
    border: 1px solid transparentize($color: #000000, $amount: 0.8);
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 2px 4px
        transparentize($color: $primary-admin, $amount: 0.8);
    }
  }

  textarea {
    resize: vertical;
  }
}

.card-edit__buttons {
  display: flex;
  justify-content: space-between;

  button {
    font-size: 1rem;
    padding: 0.5em 1em;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;

    &:first-child {
      background-color: $blue;
      &:hover {
        background-color: darken($color: $blue, $amount: 15);
      }
    }

    &:last-child {
      background-color: $red;
      &:hover {
        background-color: darken($color: $red, $amount: 15);
      }
    }
  }
}

.card-edit__radio-group{
  display: flex;
  flex-direction: column;

  > * + *{
    margin-top: 10px;
  }
}