.card-list {
  @include flex-center(column);
  width: 100%;

  & > .card + .card {
    margin-top: 100px;
  }
}

@media (max-width: 800px) {
  .card-list {
    & > .card + .card {
      margin-top: 20px;
    }
  }
}
