footer{
  position: relative;
  z-index: 0;
  width: 100%;
  margin-bottom: 1em;
  background-color: white;
  @include flex-center(row);

  div{
    @include flex-center(column);
    width: 300px;
    p{
      font-weight: 200;
      margin: 0.5em 0;
    }
  }

  div + div{
    border-left: 1px solid $primary-tpze;
  }

}