.home-screen {
  padding-top: 0;
}

.home-screen > * + * {
  margin-top: 100px;
}

@media(max-width: 800px){
  .home-screen > * + * {
    margin-top: 30px;
  }
}

.home-screen__presentation {
  height: 100vh;
  padding: 0 1em;
  @include flex-center(row);

  img {
    object-fit: cover;
    height: 100%;
    width: 95%;
    position: absolute;
    z-index: -1;
  }
}

.home-screen__presentation-brand {
  max-width: 600px;
  width: 100%;

  h1,
  p {
    text-align: center;
    margin: 0;
    color: white;
  }
  h1 {
    font-size: 7em;
    font-weight: 300;
    user-select: none;
    transition: all 0.3s;
    &:hover{
      color: black;
    }
  }
  p {
    font-size: 1.7em;
    font-weight: 400;
    padding-top: 1em;
    border-top: 3px solid black;
    letter-spacing: 1em;
  }
}

