@import '../../../components/admin/settings';

.admin-table-home {
  .cell-posicion {
    width: 90px;
  }

  .cell-lado {
    width: 100px;
  }

  .cell-informacion {
    max-width: 600px;
    width: 100%;
  }

  .cell-titulo {
    width: 150px;
  }
}

.admin-modal-card {
  form {
    border-radius: 0.35rem;
    border: 0.25rem solid $border-color-table;
    padding: 2em;

    > * + * {
      margin-top: 1em;
    }
  }
}
