@import './settings';
.admin-form-label {
  > input,
  > .admin-form-list,
  > textarea {
    width: 100%;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 0.35rem;
    border: 1px solid $border-color-table-darken;
    transition: border-color 0.3s;
    outline: none;

    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 0.0625rem $color-primary;
    }
  }

  > .admin-form-list {
    overflow-y: auto;
    height: 95px;
    display: flex;
    flex-direction: column;

    > input {
      border: none;
      outline: none;
      transition: all 0.2s;

      &:focus {
        background-color: $color-primary;
        color: white;
      }

      &:read-only {
        cursor: pointer;
      }
    }
  }

  textarea {
    resize: vertical;
  }
}
