@import '../settings';

.admin-table {
  overflow-y: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 12px;
      border: 2px solid $border-color-table;
    }

    thead {
      border-bottom-width: 3px;
      color: $color-primary;

      th {
        text-align: left;
        &:last-child {
          width: 90px;
        }
      }
    }

    tbody {
      .cell-actions {
        text-align: center;
        i {
          margin: 0 8px;
          cursor: pointer;
          color: $border-color-table-darken;
          transition: color 0.3s;
        }

        .fa-pen:hover {
          color: $color-primary;
        }

        .fa-trash-alt:hover {
          color: $primary-red;
        }
      }
    }

    .cell-actions {
      width: 90px;
    }
  }
}
